<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Startup Finder</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta charset="utf-8">

		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/universal.css" rel="stylesheet">
		<link href="../static/css/home.css" rel="stylesheet">

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="../static/js/lib/angular-1-2-19.min.js"></script>
		<script src="../static/js/lib/angular-route-1-2-19.min.js"></script>
		<script src="../static/js/app.js"></script>
		<script src="../static/js/factories/search.js"></script>
		<script src="../static/js/controllers/home.js"></script>
	</head>

	<body ng-app="StartupFinder_app">
		<!-- Navbar -->
		<div class="navbar">
			<span><a href="#">Startup Finder</a></span>
			<span style="float: right;"><a href="about">About</a></span>
		</div>

		<!-- Main content loaded by $routeProvider -->
		<div id="container">
			<ng-view></ng-view>
			<div ng-controller="HomeController"></div>
		</div>


		<!-- Footer -->
		<footer class="footer">
			<p>&copy; Startup Finder</p>
		</footer>
	</body>
</html>
